Здравствуйте<%=if user.first_name.present?; ', '+[user.first_name].join(' '); else ''; end%>!

Для смены пароля нажмите на кнопку ниже. Если Вы не запрашивали смену пароля, то проигнорируйте это сообщение.

<a href="<%=password_change_url%>" target="_blank" style="text-decoration:none;line-height:100%;background:#7289da;color:white;font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:15px;font-weight:normal;text-transform:none;margin:0px">Сменить пароль</a>
